.logo img {
   width: 35px;
   height: 35px;
   animation: spin 3s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to{
        transform:  rotate(360deg)
    }
}


.logo h1 {
    letter-spacing: 6px;
    font-size: 48px;
    color : rgba(0,0,0,0.8);
}